
<br>
<form action="/logout" method="get">
  <button type="submit">LOGOUT</button>
</form>
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Kelompok JAVVA</p>
  </div>
</div>
</body>
</html>
