<%- include("partials/header") -%>

<div class='row'>
  <div class='col-sm-0 kolom_kiri'>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <h1>Menu</h1>
    </div>

    <span style="font-size:30px;cursor:pointer;padding-left: 30px" onclick="openNav()">&#9776;</span>

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>
  </div>
  <div class='col-sm-12 div_crisbar'>
    <img src='images/logo%20crisbar%20ifx.jpg' alt='logo_crisbar' class='logo_crisbar'>
    <form action="/login" method="post" style="margin:0 auto;width:75%;text-align:center;top : 50%;padding-top : 23%">
      <input type="text" name="username" placeholder="Username" required autofocus> <br>
      <input type="password" name="password" placeholder="Password" required> <br>
      <button type="submit" class="btn btn-warning login_button"><strong>LOGIN</strong></button>
    </form>
    <form action="/lapor" method="get">
      <button type="submit" class="btn btn-warning lapor_button"><strong>LAPOR</strong></button>
    </form>
  </div>
</div>

<%- include("partials/footer") -%>