.login_button {
    top : 65%;
    left : 45%;
    width : 10%;
    height : 10%;
    position : absolute;
}

.btn-warning {
    background-color : darkorange;
    border-color : darkorange;
}

.btn-warning:hover {
    background-color : orange;
    border-color : orange;  
}

.logo_crisbar {
    height : 30%;
    width : 20%;
    top : 14%;
    left : 40%;
    position : absolute;
}

.div_crisbar {
    background-color : #992122;
    height : 100vh;
}

.kolom_kiri {
    background-color : #992122;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }